@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  @apply flex justify-center pt-5;

  &__wrapper {
    @apply w-full flex items-center justify-between mb-4;
  }
}

.container {
  @apply w-max flex items-center flex-col px-5;
}

.timer {
  @apply flex items-center justify-center px-3 text-2xl font-bold py-1 gap-1 rounded-xl bg-[#c1c1c1] select-none;

  &__minutes {
  }

  &__seconds {
  }
}

.theme-switch {
  @apply w-20 flex items-center py-2 pl-2 pr-2 rounded-[6.25rem] bg-[#c4c4c4] cursor-pointer transition-all duration-[400ms] ease-in-out;
  aspect-ratio: 9 / 5;

  &__item {
    @apply w-7 aspect-square bg-white rounded-full transition-transform duration-[400ms] ease-in-out;
  }

  &_active {
    @apply bg-[#3B95FF];
  }

  &_active > &__item {
    @apply translate-x-[36px];
  }
}

.nonogram {
  @apply grid mb-4;

  &__top-hints {
  }

  &__left-hints {
  }

  &__game-field {
  }
}

.top-hints {
  @apply flex border-x-[5px] border-solid border-[#808080] col-start-2 col-end-3 self-end select-none;

  &__subgrid {
    @apply grid;
    grid-template-columns: repeat(5, 30px);

    &:not(&:last-child) {
      @apply border-r-[5px] border-solid border-[#808080];
    }
  }

  &__item {
    @apply flex flex-col flex-wrap items-center justify-end border-r-2 border-solid border-[#808080];

    &:last-child {
      @apply border-r-0;
    }
  }

  &__text {
  }
}

.left-hints {
  @apply border-t-[5px] border-b-[5px] border-solid border-[#808080] select-none;

  &__subgrid {
    @apply grid;
    grid-template-rows: repeat(5, 30px);

    &:not(&:last-child) {
      @apply border-b-[5px] border-solid border-[#808080];
    }
  }

  &__item {
    @apply flex items-center justify-end gap-[0.625rem] border-b-2 border-solid border-[#808080] pr-2 pl-2;

    &:last-child {
      @apply border-b-0;
    }
  }

  &__text {
  }
}

.game-field {
  @apply grid border-[0.3125rem] border-solid border-[#808080];

  &__subgrid {
    @apply grid border-r-[5px] border-b-[5px] border-solid border-[#808080];
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: repeat(5, 30px);

    &[data-last-right-subgrid] {
      @apply border-r-0;
    }

    &[data-last-bottom-subgrid] {
      @apply border-b-0;
    }
  }

  &__item {
    @apply border-r-2 border-b-2 border-solid border-[#808080] cursor-pointer;

    &:nth-child(5n) {
      @apply border-r-0;
    }

    &:nth-child(n + 21) {
      @apply border-b-0;
    }

    &[data-status="1"] {
      @apply bg-black;
    }

    &[data-status="2"] {
      @apply flex items-center justify-center relative before:rotate-45 after:-rotate-45;

      &::before,
      &::after {
        @apply block absolute w-[100%] aspect-square h-0.5 bg-[red] content-[''];
      }
    }
  }
}

.menu {
  @apply flex gap-2 items-center justify-center p-2 flex-wrap;

  &__item {
    @apply px-5 py-3 text-white font-["inter"] font-semibold text-2xl leading-4 text-center bg-black cursor-pointer select-none;
  }
}

.select {
  @apply flex items-center gap-7;

  &-sizes {
    @apply text-center py-2 rounded-2xl text-xl bg-amber-700 text-white;

    &__item {
      @apply text-xl text-center;
    }
  }

  &-templates {
    @apply text-center py-2 rounded-2xl text-xl bg-amber-700 text-white;

    &__item {
      @apply text-xl text-center;
    }
  }
}
